@font-face {
  font-family: Snask;
  src: url("./assets/Snaskface-Bold.woff2");
}

@font-face {
  font-family: Apercu;
  src: url("./assets/apercu_bold-webfont.woff2");
}

* {
  font-family: Apercu, Arial, Helvetica;
  letter-spacing: normal;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(/public/pinkfur.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
}

h1 {
  font-size: 10rem;
  font-family: Snask;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-size: 3rem;
}

p {
  line-height: normal;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  width: 300px;
  align-self: center;
  border-radius: 12rem;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
}

.form-group input {
  flex: 1;
  margin-right: 10px;
}

.hero {
  /* height: 100vh; */
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(138 43 226 / 50%);
  border-radius: 10rem;
  margin-top: 6rem;
  padding: 14px;
  gap: 20px;
  justify-content: space-around;
}

.opt1 {
  width: 600px;
  display: inline-block;
  font-size: 1.2rem;
  align-self: center;
}

.opt2 {
  width: 600px;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.2rem;
  align-self: center;
}
